<!-- Wrapper for slides -->
<div class="carousel-inner" id="container"></div>

<!-- Controls -->
<a class="left carousel-control" href="#bike-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#bike-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>