<img src="<%= image %>" alt="<%= title %>" />
<div class="container">
    <div class="carousel-caption">
        <h1><%= title %></h1>
        <button type="button" class="btn btn-default btn-xs" id="parts-button">Equipment Grouping</button>
        <button type="button" class="btn btn-default btn-xs" id="hotspots-button">Toggle Hotspots</button>
    </div>
</div>