<div class="btn-group dropup">
	<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
		<%= label %>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu"></ul>
</div>