<td>
	<a href="<%= url %>" target="_blank"><div class="popover-image-container"><img class="popover-image" src="<%= image %>" /></a>
</td>
<td>
	<a href="<%= url %>" target="_blank"><h5><%= title %></h5></a>
</td>