$icon-font-path: '../bower_components/sass-bootstrap/fonts/';

@import 'sass-bootstrap/lib/bootstrap';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
}

body {
  padding-top: 50px;
}

body,
input,
button,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* NAVBAR
-------------------------------------------------- */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;

  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/* PARTS MODAL
-------------------------------------------------- */

.modal {
  @media (min-width: 768px) {
    padding-bottom: 25px;
  }
}

.modal-dialog {
  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 25px;
  }
}

.modal-body-no-padding {
  padding: 0;
}

.modal-footer {
  margin: 0;
  padding: 5px;
  border: none;
}

/* ADD NEW PART MODAL
-------------------------------------------------- */

#operations-container {
  display: none;
}

.modal-md {
  max-width: 600px;
}

/* PART BUTTON
-------------------------------------------------- */

.part-container {
  height: 270px;
  padding: 20px 0 0 0;
  text-align: center;
  background: #fff;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0;
  transition: box-shadow 0.4s;
}

.part-container:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);

  z-index: 100;
}

.part-image-container {
  height: 150px;
  text-align: center;
}

.part-image {
  max-width: 150px;
  max-height: 150px;
}

.part-title {
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* EDIT FORMS
-------------------------------------------------- */

#bike-edit-form {
  padding-top: 5px;
  display: none;
}

#bike-edit-button {
  display: none;
}

#bike-edit-delete-button {
  display: none;
}

#bike-edit-cancel-button {
  display: none;
}

#part-edit-form {
  padding: 0 10px 0 10px;
  display: none;
}

#part-edit-button {
  display: none;
}

#part-edit-cancel-button {
  display: none;
}

.form-group {
  margin-bottom: 5px;
}

.absolute-edit-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* BIKE DETAIL MODAL
-------------------------------------------------- */

#detail-hotspots-container {
  display: none;
  position: absolute;
}

.bike-image {
  width: 100%;

  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* CAROUSEL
-------------------------------------------------- */

#hero-container {
  height: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-height: 400px;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    max-height: 600px;
  }
  @media (min-width: 1200px) {
    max-height: 700px;
    width: 1200px;
  }

  background: #fff;

  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

#hotspots-carousel-container {
  position: relative;
  height: 100%;
}

#carousel-container {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.carousel,
.item {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-control {
  width: 40px;
  opacity: 1;
}

.carousel-control:hover {
  opacity: 1;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  padding-bottom: 0;
}

/* HOTSPOTS
-------------------------------------------------- */

#hotspots-container {
  @media (max-width: 768px) {
    display: none;
  }
}

.hotspot-container {
  position: absolute;
}

.hotspot-button {
  background-image: url('../images/hotspot-button.png');
  width: 32px;
  height: 32px;
}

/* POPOVERS
-------------------------------------------------- */

.popover-image-container {
  width: 150px;
  height: 150px;
  text-align: center;
}

.popover-image {
  max-width: 150px;
  max-height: 150px;
}

/* THUMBNAILS
-------------------------------------------------- */

#filters-container {
  margin-top: 20px;
}

#thumbnails-container {
  margin-top: 20px;
  min-height: 800px;
}

#no-results-container {
  display: none;
}

.title {
  display: none;
}

.tags {
  display: none;
}

.thumbnail-container {
  padding: 0px;
  border: none;
  box-shadow: 0;
  transition: box-shadow 0.4s;
}

.thumbnail-container:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.5);

  z-index: 100;
}

/* PARTS LAYOUT
-------------------------------------------------- */

#operations-container {
  margin-top: 20px;
}

#parts-list-container {
  margin-top: 20px;
}