$icon-font-path: '../bower_components/sass-bootstrap/fonts/';

@import 'sass-bootstrap/lib/bootstrap';

html, body {
    height:100%;
    margin:0;
    padding:0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#main-container {
    height: 100%;
}

#hotspots-carousel-container {
    height: 100%;
}

#carousel-container {
    height: 100%;
}

#filters-container {
    margin-top: 20px;
}

#thumbnails-container {
    margin-top: 20px;
}

.carousel, .item {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-inner {
    height: 100%;
}

.hotspots-container {
    position: absolute;
    top: 0px;
}

.hotspot-container {
    position: absolute;
}

.hotspot-button {
    background-image: url('../images/hotspot-button.png');
    width: 32px;
    height: 32px;
}

.title {
    display: none;
}

.tags {
    display: none;
}