$icon-font-path: '../bower_components/sass-bootstrap/fonts/';

@import 'sass-bootstrap/lib/bootstrap';

html, body {
  height:100%;
  margin:0;
  padding:0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#main-container {
  height: 100%;
}

#hotspots-carousel-container {
  height: 100%;
}

#carousel-container {
  height: 100%;
}

#filters-container {
  margin-top: 20px;
}

#thumbnails-container {
  margin-top: 20px;
  margin-bottom: 100px;
}

.carousel, .item {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-inner {
  height: 100%;
}

/* HOTSPOTS
-------------------------------------------------- */

.hotspots-container {
  position: absolute;
  top: 0px;
}

.hotspot-container {
  position: absolute;
}

.hotspot-button {
  background-image: url('../images/hotspot-button.png');
  width: 32px;
  height: 32px;
}

/* POPOVERS
-------------------------------------------------- */

.popover-image-container {
  width: 150px;
  height: 150px;
  text-align: center;
}

.popover-image {
  max-width: 150px;
  max-height: 150px;
}

/* THUMBNAILS
-------------------------------------------------- */

.title {
  display: none;
}

.tags {
  display: none;
}

.thumbnail-container {
  padding: 0px;
}

.thumbnail {
  margin: 0px;
}

.img-thumbnail {
  padding: 0px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
}

/* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
    border-radius: 4px;
}